.draggable-div {
    height: 5rem;
    width: 40rem;
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.droppable-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1.5rem;
}