.dragdrop-container {
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    background-color: lightgray;
}

.dragdrop-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 1rem;
    opacity: 0;
}

.dragdrop-container::-webkit-scrollbar {
    width: 0.3rem;
}

.dragdrop-item {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}