.botones-resumen {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 5rem;
}

.btn-copiar-texto,
.btn-guardar,
.btn-guardado {
    background-color: var(--confirmado);
    border: none;
    border-radius: 5px;
    padding: 1.5rem;
    color: var(--color-fondo);
    font-size: 1.1rem;
    font-weight: bold;
    width: 18rem;
    cursor: pointer;
    -webkit-box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
    box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
    text-align: center;
}

.btn-guardar:hover,
.btn-copiar-texto:hover {
    background-color: var(--fondo-resaltado);
    transition: background-color 150ms linear;
}