.marcador {
    position: absolute;
    top: 77px;
    left: 102px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 2;
}

.marcador span {
    position: relative;
    bottom: 15px;
    left: 8px;
    color: black;
}

.creador-marcador-container {
    background-color: red;
    width: 300px;
    height: 90px;
    border-radius: 1rem;
    color: black;
    padding: 1rem 2rem;
} 

.marcadores-info {
    height: 100%;
    padding: 1rem 2rem;
    margin: 0;
}

.marcadores-info li {
    margin-bottom: 1rem;
    background-color: aquamarine;
    font-size: 1.3rem;
    padding: 0.5rem;
}