.copyable::-webkit-scrollbar {
    width: 3px; /* ancho de la barra */
}

.copyable::-webkit-scrollbar-track {
    background: #FFFFFF; /* color del fondo de la barra de desplazamiento */
}

.copyable::-webkit-scrollbar-thumb {
    background: #007EA7; /* color del pulgar */
}