:root {
  --color-texto: black;
  --fondo-resaltado: lightblue;
  --text-family: "Verdana", san-serif;
}

* {
  font-family: var(--text-family);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid black;
}

#root {
  width: 100%;
  height: 100%;
}

/* GENERICAS */

.col-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}

main h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 3rem;
}

/* DATOS PACIENTE */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.datos-paciente-container {
  border: 3px solid black;
  border-radius: 15px;
  max-width: 50vw;
  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--fondo-resaltado);
}

.datos-paciente-container span {
  color: var(--color-texto);
  font-size: large;
  font-weight: bolder;
  font-size: 1.3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* EVOLUCIONES ANTERIORES*/

.evoluciones {
  max-width: 500px;
  width: 100%;
  min-width: 300px;
  height: 100%;
  max-height: 100vh;
}

.evoluciones-container {
  overflow-y: auto;
  max-height: 90%;
  height: 100%;
}

.evoluciones-container::-webkit-scrollbar {
  width: 0.3rem;
}

.evoluciones-container::-webkit-scrollbar-thumb {
  background-color: var(--fondo-resaltado);
  border-radius: 1rem;
}

.evoluciones h2 {
  margin: 0;
  text-align: center;
  padding: 0.9rem;
  max-height: 20%;
  background-color: var(--fondo-resaltado);
  border-radius: 0 0 0.5rem 0.5rem;
}

.evoluciones-container ol {
  margin: 0;
  list-style-type: none;
  padding: 10px;
  max-height: 100%;
  height: 100%;

}

.evoluciones-container ol li {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--fondo-resaltado);
  font-size: 1rem;
}

.evoluciones-container ol li:hover {
  background-color: lightseagreen;
}

.evoluciones-container ol li span {
  color: black;
  font-weight: bolder;
}

.evoluciones-container ol li:last-child {
  margin-bottom: 0;
}

/* ETAPAS EVOLUCION */

.etapas-container {
  display: flex;
  flex-direction: column;
/*   border: 2px solid black; */
  border-radius: 50%;
  max-width: 900px;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  max-height: 600px;
  height: 100%;
  margin-top: 40px;
  justify-content: center;
  background-color: lightsteelblue;
}

.etapa,
.btn-central {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border: 1px solid black;
}

.etapa {
  width: 15.6rem;
  height: 7.25rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: darkslategrey;
}

.btn-central {
  width: 14rem;
  height: 9rem;
  border-radius: 50%;
  line-height: 2rem;
  margin: 2.5rem;
}

.btn-confirmar {
  background-color: orange;
}

.btn-generar {
  background-color: green;
}

.icono-paciente {
  background-color: gray;
}

.top,
.mid,
.bottom {
  /*  border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom button {
  margin: 0 2.5rem;
}

.check {
  background-color: green;
  border-radius: 50%;
  position: relative;
  bottom: 35%;
  left: 70%;
}

@media only screen and (max-width: 1024px) {

  html {
    font-size: 14px;
  }

}