:root {
  --color-texto: black;
  --fondo-resaltado: #6dbdda;
  --text-family: "Verdana", san-serif;
  --valoracion: #F94144;
  --planeacion: #4D908E;
  --evaluacion: #577590;
  --ejecucion: #F9844A;
  --diagnostico: #90BE6D;
  --confirmado: #43AA8B;
  --color-fondo: #fbfcfd;
  --warning: #F9C74F;
}

* {
  font-family: var(--text-family);
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
}

#root {
  width: 100%;
  height: 100%;
}

/* GENERICAS */

.col-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}

main h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 3rem;
}

/* DATOS PACIENTE */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.datos-paciente-container {
  border: 3px solid black;
  border-radius: 15px;
  max-width: 50vw;
  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--fondo-resaltado);
}

.datos-paciente-container span {
  color: var(--color-texto);
  font-size: large;
  font-weight: bolder;
  font-size: 1.3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* EVOLUCIONES ANTERIORES*/

.evoluciones {
  max-width: 30rem;
  width: 100%;
  min-width: 15rem;
  height: 100%;
  max-height: 100vh;
}

.evoluciones-container {
  overflow-y: auto;
  max-height: 90%;
  height: 100%;
  border-right: 2px solid var(--fondo-resaltado);
}

.evoluciones-container::-webkit-scrollbar {
  width: 0.3rem;
}

.evoluciones-container::-webkit-scrollbar-thumb {
  background-color: var(--fondo-resaltado);
  border-radius: 1rem;
  opacity: 0;
}

.evoluciones h2 {
  margin: 0;
  text-align: center;
  padding: 0.9rem;
  max-height: 20%;
  background-color: var(--fondo-resaltado);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
}

.evoluciones-container ol {
  margin: 0;
  list-style-type: none;
  padding: 0.8rem;
  min-height: 100%;
  height: 100%;
  font-style: italic;

}

.evoluciones-container ol li {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--fondo-resaltado);
  font-size: 1rem;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.52);
}

.evoluciones-container ol li:hover {
  background-color: #9fcfe2;
  transition: background-color 100ms linear;
}

.evoluciones-container ol li span {
  color: black;
  font-weight: bolder;
}

.evoluciones-container ol li:last-child {
  margin-bottom: 0;
}

.aviso-sin-evoluciones {
  background-color: var(--color-fondo);
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 2rem;

}

/* ETAPAS EVOLUCION */

.etapas-container {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  min-width: 16rem;
  min-height: 16rem;
  max-height: 32rem;
  height: 100%;
  margin: 2.5rem;
  justify-content: center;
}

.etapa,
.btn-central {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border: none;
  /* border: 1px solid black; */
}

.etapa {
  width: 15.6rem;
  height: 7.25rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
  box-shadow: -2px 4px 31px -14px rgba(0, 0, 0, 0.95);
}

.etapa:hover {
  background-color: var(--fondo-resaltado);
  transform: scale(1.05, 1.05);
  transition: transform 100ms linear;
}

.valoracion {
  background-color: var(--valoracion);
}

.planeacion {
  background-color: var(--planeacion);
}

.evaluacion {
  background-color: var(--evaluacion);
}

.diagnostico {
  background-color: var(--diagnostico);
}

.ejecucion {
  background-color: var(--ejecucion);
}


.btn-central {
  width: 14rem;
  height: 9rem;
  border-radius: 30%;
  line-height: 2rem;
  margin: 2.5rem;
}

.btn-confirmar, .warning {
  background-color: var(--warning);
}

.btn-generar, .confirm {
  background-color: #43AA8B;
}

.btn-generar:hover,
.btn-confirmar:hover {
  transform: scale(1.05, 1.05);
  transition: transform 100ms linear;
}

.mid img {
  width: 9rem;
  height: 9rem;
  margin: 2.5rem 5rem;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  pointer-events: none;
}

.top,
.mid,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom button {
  margin: 0 2.5rem;
}

.contexto-relativo-cartel-aviso {
  width: 32rem;
  height: 5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
  position: relative;

}

.completada {
  background-color: var(--confirmado);
}

.completada:hover {
  background-color: var(--warning);
}

.aviso-modificacion {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.cerrar-cartel {
  position: absolute;
  border-radius: 50%;
  left: 30.5rem;
  top: -10px;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
  border: none;
  cursor: pointer;
}

.warning + .cerrar-cartel:hover {
  background-color: var(--warning);
  transition: background-color 100ms linear;
}

.confirm + .cerrar-cartel:hover {
  background-color: var(--confirmado);
  transition: background-color 100ms linear;
  color: white
}

@media only screen and (max-width: 1360px) {

  html {
    font-size: 14px;
  }
  main {
    padding: 0;
  }

  .datos-paciente-container {
    max-width: 60vw;
  }
}