:root {
  --color-texto: black;
  --fondo-resaltado: lightblue;
  --text-family: "Verdana" , san-serif;
}

* {
  font-family: var(--text-family);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

/* GENERICAS */

.col-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
}

.App > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}


/* DATOS PACIENTE */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.datos-paciente-container {
  border: 3px solid black;
  border-radius: 15px;
  max-width: 50vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--fondo-resaltado);
}

.datos-paciente-container span {
  color: var(--color-texto);
  font-size: large;
  font-weight: bolder;
}

/* EVOLUCIONES ANTERIORES*/

.evoluaciones-container {
  border-right: 3px solid black;
  max-width: 30vw;
  min-width: 400px;
}

.evoluaciones-container h2 {
  margin: 0;
  text-align: center;
  padding: 20px;
}

.evoluaciones-container ol {
  margin: 0;
  list-style-type: none;
  padding: 20px 10px;
  max-height: 85vh;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

.evoluaciones-container ol li {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--fondo-resaltado);
}

.evoluaciones-container ol li:hover {
  background-color: lightseagreen;
}

.evoluaciones-container ol li span {
  color: black;
  font-weight: bolder;
}

.evoluaciones-container ol li:last-child {
  margin-bottom: 0;
}